.tablet-filter-container{
    border: 1px solid var(--color-secondary);
    background-color: var(--color-secondary);
    height: 139px;
    display: flex;
    align-items: center;
    text-align: center;
}
.tablet-filter-container-content{
    width: 95%;
    height: 139px;
    margin: auto;
    margin-top:20px ;
    max-width: 900px;
    
    
}
.tablet-filters-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.tablet-filters-button .search, .tablet-filters-button .tablet-calendar-input{
    width: 40%;
    margin-right: 8px;
}
div[role=combobox]{
    width: 100%;
    padding-top: 0;
    
}
.tablet-calendar-input{
    width: 405px;
}