.productDescription{
    width: 100%;
    margin-top: 50px;
}
.productDescription-container{
    width: 97%;
    margin: auto;
}
.productDescription-container h2{
    margin-top:40px ;
    margin-bottom: 35px;
}
.productDescription-container p{
    margin-bottom: 20px;
}

@media (max-width:1000px) {
    .productDescription{
        margin-top: 10px;
    }
    .productDescription-container h2{
        line-height: 30px;
    }
    .productDescription-container{
        width: 97%;
    }
}
@media (max-width:768px) {
    .productDescription-container{
        width: 95%;
    }
}
@media (max-width:414px) {
    .productDescription-container h2{
        margin-top: 30px;
    }
}