.contenedor-pagina-reserva-exitosa .footer-desktop-tablet{
    margin-top: 0px;
}

.contenedor-pagina-reserva-exitosa .footer-mobile {
    margin-top: 0px;
}

.contenedor-pagina-reserva-exitosa .footer-mobile .footer-mobile-content{
    margin-top: 0px;
}

.contenedor-pagina-reserva-exitosa footer-mobile .footer-tablet-content{
    margin-top: 0px;
}