

.login-page{
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}


.calendarPage{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
