.full-map-loaded{
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    
    
}
.full-map-container{
    width: 100%;
    height: 89.8vh;
    margin-top: auto;
    border-radius:8px ;
    
}
.full-map-loaded-container{
    width: 100%;
}
.mapa-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.favorite-map-container-loaded{
     width: 100%;
    height: 80vh;
    margin-top: auto;
    border-radius:8px ;
}
@media (max-width:768px) {
    .full-map-container{
        max-width: 100%;
    }
}
.favorite-map-container-desktop{
    width: 100%;
    height: 80vh;
    margin-top: auto;
    border-radius:8px ;
}